body {
    margin:0px;

}

.wrapper {
    height: 960px;
    width:60%;
    background-color: grey;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.first_container {
    width: inherit;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: pink;
}

.interior {
    text-align: center;
    margin: auto;
}

.first, .second {
    background-color: red;
    display: flex;
    align-items: center;
    height: 100px;
    width: 350px;
    margin: 10px;
}

.head  h1{
    font-size: 42px;
    font-weight: 400;
}

.second_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.third {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    width: 350px;
}

.second_container {

    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center
}

.third {
    background: lightblue;
}
